{% extends "EieinstitutBundle::Master-Base.html.twig" %}

{% block stylesheets %}

{% endblock %}
{% block javascripts %}

{% endblock %}
{% block content %}

        

	{% block sub_content %}
		
        <section class="grid_8 right">
                <div class="block-border">
                        <div class="block-content">	
                        
                        
                        </div>
                </div>
        </section>
	
		
		
	{% endblock %}

{% endblock %}