


{% block content %}
<!--Block méssagerie-->

  
        <div class="block-border">
            <div class="block-content">
                <h1>Ma messagerie</h1>

                <ul class="simple-list">
                    <li><a href="#">Nouveau message</a></li>
                    <li><a href="#">Messages re&ccedil;us</a></li>
                    <li><a href="#">Messages envoy&eacute;s</a></li>
                    <li><a href="#">Brouillon</a></li>
                </ul>
            </div>
        </div>


{% endblock %}