{% extends "EieinstitutBundle::Master-Base.html.twig" %}


{% block content %}
<section class="grid_3">
    <section>
        <div class="block-border">
            <div class="block-content">
                <h1>Mes Contacts</h1>

                <ul class="simple-list">
                    <ul class="simple-list">
                        <li><a href="#">Faire une demande</a></li>
                        <li><a href="#">Mes affiliés</a></li>

                    </ul>
                </ul>
            </div>
        </div>
    </section>
</section>


{% endblock %}