


{% block content %}
<!--Block contact-->

     <div class="block-border">
            <div class="block-content">
                <h1>Mes contacts</h1>
                    <ul class="simple-list">
                        <li><a href="#">Faire une demande</a></li>
                        <li><a href="#">Mes affili&eacute;s</a></li>
                    </ul>
            </div>
       </div>



{% endblock %}