{% extends "EieinstitutBundle::Master-Base.html.twig" %}


{% block content %}
<section class="grid_3">
    <section>
        <div class="block-border">
            <div class="block-content">
                <h1>Messagerie</h1>

                <ul class="simple-list">
                    <li><a href="#">Message recus</a></li>
                    <li><a href="#">Message envoyes</a></li>
                    <li><a href="#">Brouillon</a></li>
                    <li><a href="#">Nouveau message</a></li>

                </ul>
            </div>
        </div>

    </section>
</section>


{% endblock %}